@charset "UTF-8";
*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 100px 30px; }

.head__style {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column; }

.logo__text {
  padding: 0 0 40px 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4rem;
  line-height: 1.25rem;
  font-weight: 500; }
  .logo__text_color_black {
    color: #000; }
  .logo__text__color_orange {
    padding: 0 0 0 3px;
    color: #e46613;
    font-size: 4.2rem;
    font-weight: 500;
    font-style: italic; }

.accent {
  position: relative; }
  .accent::before {
    content: '–';
    font-size: 2.0rem;
    font-weight: 500;
    position: absolute;
    top: -3px;
    left: 35px;
    color: #e46613;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg); }

.explanation__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  width: 650px; }

.link {
  text-decoration: underline dashed;
  cursor: pointer;
  color: #e46613; }
  .link:hover {
    color: #000;
    text-decoration: none; }

.example {
  width: 650px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
  color: grey; }
  .example__letter {
    width: 33%; }
  .example__hint {
    width: 33%; }
    .example__hint_text-color {
      margin: 0 0 0 0;
      padding: 20px 0 0 0;
      color: #000;
      font-size: 1.2rem; }
  .example__answer {
    width: 33%; }

.main__style {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 0;
  padding: 40px 0 30px 0; }

.desc__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000; }

.letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; }

.hint {
  padding: 0 0 20px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: grey; }

.form__style {
  padding: 20px; }
.form__input {
  width: 500px;
  height: 50px;
  outline: none;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #000;
  border-radius: 10px;
  border: 1px solid #e46613;
  text-transform: uppercase; }
