@charset "UTF-8";
*,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 0 0px; }

.head__style {
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.logo__text {
  padding: 0 0 40px 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4rem;
  line-height: 1.25rem;
  font-weight: 500; }
  .logo__text_color_black {
    color: #000; }
  .logo__text__color_orange {
    padding: 0 0 0 3px;
    color: #e46613;
    font-size: 4.2rem;
    font-weight: 500;
    font-style: italic; }

.accent {
  position: relative; }
  .accent::before {
    content: '–';
    font-size: 2.0rem;
    font-weight: 500;
    position: absolute;
    top: -3px;
    left: 35px;
    color: #e46613;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg); }

.explanation__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  width: 100%; }

.link {
  text-decoration: underline dashed;
  cursor: pointer;
  color: #e46613; }
  .link:hover {
    color: #000;
    text-decoration: none; }

.example {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
  color: grey; }
  .example__letter {
    width: 33%; }
  .example__hint {
    width: 33%; }
    .example__hint_text-color {
      margin: 0 0 0 0;
      padding: 20px 0 0 0;
      color: #000;
      font-size: 1.2rem; }
  .example__answer {
    width: 33%; }

.main__style {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 0;
  padding: 40px 0 30px 0; }

.desc__text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #000; }

.letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; }

.hint {
  padding: 0 0 20px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: grey; }

.form {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 50px 0; }
  .form__style {
    padding: 20px; }
  .form__input {
    width: 100%;
    height: 50px;
    outline: none;
    padding: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #000;
    border-radius: 10px;
    border: 1px solid #e46613;
    text-transform: uppercase; }
  .form_skip {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: grey;
    border-bottom: 2px dashed grey;
    cursor: pointer;
    padding-bottom: 3px; }
    .form_skip:hover {
      color: #e46613;
      border-bottom: 2px dashed #e46613; }

.button {
  margin: 0 0 0 0;
  padding: 30px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .button__start {
    width: 220px;
    height: 60px;
    border-radius: 20px;
    background-color: #e46613;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    outline: none;
    border: 2px solid #fff;
    box-shadow: 11px 12px 16px 1px #E4663B;
    transition: 0.2s; }
    .button__start:hover {
      background-color: grey;
      color: #000;
      cursor: pointer;
      border: 2px solid grey; }
    .button__start:active {
      box-shadow: 0px 0px 10px 0px #E4663B;
      transition: 0.2s;
      padding: 0 10px 5px 0; }

.novisible {
  display: none; }

.count {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0 0 0 0;
  padding: 0 0 30px 0; }

.skip__letter {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #e46613;
  margin: 0 0 0 0;
  padding: 0 0 10px 0; }

.count__numbers {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #000;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.social-links {
  width: 100%;
  margin: 0 0 0 0;
  padding: 150px 0 50px 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.25rem;
  color: #000; }

.section__style {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  .section__style_center {
    width: 650px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1.0rem;
    font-family: "Source Sans Pro", sans-serif; }

.site_link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  line-height: 1.25rem;
  color: #000;
  text-decoration: underline; }
  .site_link:hover {
    color: #e46613;
    text-decoration: none; }

.footer {
  width: 100%;
  height: 200px;
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 30px 0 0 0; }
  .footer_center {
    width: 650px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .footer_item {
    width: 160px; }
    .footer_item:nth-child(2), .footer_item:nth-child(1) {
      margin: 0 0 0 0;
      padding: 0 0 5px 0; }
  .footer_title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9rem;
    line-height: 1.25rem;
    margin: 0 0 0 0;
    padding: 0 0 5px 0; }
    .footer_title_link {
      color: #000;
      border-bottom: 1px dashed #000;
      text-decoration: none; }
      .footer_title_link:hover {
        color: #fff;
        cursor: pointer;
        border-bottom: 1px dashed #fff; }
  .footer_desc_service {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.8rem;
    line-height: 1.25rem;
    margin: 0 0 0 0;
    padding: 0 0 5px 0; }
    .footer_desc_service_link {
      color: #000;
      text-decoration: none; }
      .footer_desc_service_link:hover {
        color: #fff;
        cursor: pointer; }
  .footer_text {
    margin: 0 0 0 0;
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 650px;
    font-size: 1.1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff; }

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  .result__count {
    font-size: 1.3rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
    margin: 0 0 0 0;
    padding: 0 0 10px 0; }
  .result__numbers {
    font-size: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #e46613;
    margin: 0 0 0 0;
    padding: 0 0 20px 0; }
  .result__img {
    width: 100%;
    background-image: url(../img/KirillMefodii.jpg);
    height: 580px;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 30px 0 0 0;
    border-radius: 10px; }
  .result__cloud {
    width: 380px;
    height: 120px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 0 0 0;
    padding: 20px;
    font-size: 1.1rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #000;
    position: relative; }
    .result__cloud::before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: 30%;
      top: 105%;
      border-top: 0px solid transparent;
      border-right: 110px solid #fff;
      border-bottom: 50px solid transparent;
      transform: rotate(-60deg); }
  .result__text {
    margin: 0 0 0 0;
    padding: 30px 0 0 0; }
    .result__text_item {
      font-size: 1.1rem;
      line-height: 1.25rem;
      font-family: "Source Sans Pro", sans-serif;
      color: #000;
      margin: 0 0 0 0;
      padding: 5px 0 5px 0; }

@media only screen and (max-width: 649px) {
  .head__style {
    width: 98%; }

  .main__style {
    width: 98%; }

  .count {
    width: 98%; }

  .section__style_center {
    width: 98%; }

  .footer {
    height: 100%; }
    .footer_center {
      width: 98%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
    .footer_text {
      width: 98%; }
    .footer_desc_service {
      padding: 0 0 20px 0; }

  .logo__text {
    font-size: 2rem; }
    .logo__text__color_orange {
      font-size: 2.2rem; }

  .explanation__text {
    font-size: 0.9rem;
    line-height: 1.1rem; }

  .example {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .example__hint_text-color {
      padding: 5px 0 20px 0; } }
@media only screen and (max-width: 649px) {
  .head__style {
    width: 98%; }

  .main__style {
    width: 98%; }

  .count {
    width: 98%; }

  .section__style_center {
    width: 98%; }

  .footer {
    height: 100%; }
    .footer_center {
      width: 98%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; }
    .footer_text {
      width: 98%; }
    .footer_desc_service {
      padding: 0 0 20px 0; }

  .logo__text {
    font-size: 2rem; }
    .logo__text__color_orange {
      font-size: 2.2rem; }

  .explanation__text {
    font-size: 0.9rem;
    line-height: 1.1rem; }

  .example {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .example__hint_text-color {
      padding: 5px 0 20px 0; } }
